.scorecardTable {
	table-layout: fixed;
	width: 100%;
	border: solid 1px;
}
.scorecardTable td, .scorecardTable th {
	border: solid 1px;
	height: 50px;
	padding: 5px;
	text-align: center;
}
.scorecardTable th {
	font-weight: bold;
	background-color: gainsboro;
}
.turnInput {
	width: 20px;
}
